{% extends 'base.html' %} {% block head %}
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<meta content="{{ color }}" name="theme-color" />
<meta property="og:site_name" content="{{ appname }}">

<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="{{ videoInfo.creator }} (@{{ videoInfo.uploader }})" />
<meta name="twitter:image" content="{{ videoInfo.thumbnail }}" />
<meta name="twitter:player:width" content="{{ vFormat.width }}" />
<meta name="twitter:player:height" content="{{ vFormat.height }}" />
<meta name="twitter:player:stream" content="{{ mp4URL }}" />
<meta name="twitter:player:stream:content_type" content="video/mp4" />

<meta property="og:url" content="{{ videoInfo.original_url }}" />
<meta property="og:video" content="{{ mp4URL }}" />
<meta property="og:video:secure_url" content="{{ mp4URL }}" />
<meta property="og:video:type" content="video/mp4" />
<meta property="og:video:width" content="{{ vFormat.width }}" />
<meta property="og:video:height" content="{{ vFormat.height }}" />
<meta property="og:image" content="{{ videoInfo.thumbnail }}" />

<meta property="og:description" content="{{ videoInfo.description }}" />

<link rel="alternate" href="https://{{ domainName }}/owoembed?text={{ statsLine }}&url={{ videoInfo.original_url }}" type="application/json+oembed" title="{{ videoInfo.creator }}">

<meta http-equiv="refresh" content="0; url = {{ videoInfo.original_url }}" /> {% endblock %} {% block body %} Please wait...
<a href="{{ videoInfo.original_url }}">Or click here.</a> {% endblock %}
